
body{
    background-color: black;
    color:white;
    font-weight: 500;

}
.custom-jumbotron{
    background-color: white;
    color:black;
}
#currentWeather{

}
.weatherbox {
    width: 200px;
    height: 20px;
    background: #b4ecff;
    border-radius: 8px;
    display: table;
    margin: 20px auto;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    overflow:hidden;
    padding: 0 0 10px 0;
    color:black;
  }
  strong,
  span {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    margin: 0;
  }
  p {
    padding: 0;
    margin: 0
  }
  strong {
    background: #00769d;
    
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  img{
    display: inline-block;
   
  } 

  #searchHistory{
    border-top:gray 1px solid;
  }